@media only screen and (max-width: 1400px) {
  .header {
    nav {
      &.sticky {
        padding: 0 4rem;
      }
    }
  }

  .our-services {
    .card-list {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
      .first {
        grid-column-start: 4;
        grid-column-end: 1;
        .image {
          height: 20rem;

          .icon {
            position: absolute;
            top: 90%;
            left: 46%;
          }
        }
      }
      .card {
        margin: 1rem 0;
      }
    }
  }

  .quote {
    padding: 0 4rem;

    .content {
      padding: 1rem 4rem;
      overflow: hidden;
    }
  }

  .painting-services {
    .content {
      .card-list {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
      }
    }
  }

  .latest-news {
    .content {
      .card-list {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
      }
    }
  }

  .footer {
    .content {
      grid-template-areas:
        'about links address '
        'location location location';
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;

      .our-location {
        iframe {
          height: 20rem;
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .title {
    font-size: 26px;
    color: #022548;
    text-align: center;
  }

  .header {
    nav {
      &.sticky {
        padding: 0 1rem;
      }
      .menu-btn {
        display: flex;
      }
      .desktop {
        display: none;
        padding: 0 1rem;
      }

      .logo-mob {
        display: block;
      }

      .phone {
        display: block;
      }
    }
  }

  .slider {
    .swiper-container {
      .swiper-slide {
        .content {
          h2 {
            padding: 1rem 4rem;
            font-size: 24px;
          }
        }
      }
    }
    .slider-footer {
      font-size: 18px;
      padding: 1rem 0;
    }
  }

  .our-services {
    .card-list {
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      .first {
        grid-column-start: 1;
        grid-column-end: 1;
      }
      .card {
        margin: 1rem 0;

        .image {
          height: 20rem;

          .icon {
            top: 90%;
            left: 40%;
          }
        }
      }
    }
  }

  .painter {
    padding: 4rem 0;
    margin: 4rem 0;
    height: 40rem;

    .content {
      width: 100%;
      p {
        margin-top: 2rem;
      }
    }
  }

  .quote {
    padding: 0 1rem;

    .content {
      padding: 1rem;
      overflow: hidden;

      form {
        input {
          padding: 1rem;
          width: 100%;
        }

        .name {
          width: 100%;
        }

        .email {
          width: 100%;
        }
      }
    }
  }

  .painting-services {
    .content {
      p {
        margin: 1rem 0;
        padding: 0 1rem;
      }

      .title {
        margin-top: 4rem;
      }

      .card-list {
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;

        .first {
          grid-column-start: 3;
          grid-column-end: 1;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .latest-news {
    .content {
      .card-list {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;

        .first {
          grid-column-start: 3;
          grid-column-end: 1;
        }
      }
    }
  }

  .footer {
    .content {
      grid-template-areas: 'about links' 'address location';
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;

      .our-location {
        iframe {
          height: 20rem;
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 26px;
    color: #022548;
    text-align: center;
  }

  .header {
    nav {
      &.sticky {
        padding: 0 1rem;
      }
      .menu-btn {
        display: flex;
      }
      .desktop {
        display: none;
        padding: 0 1rem;
      }

      .logo-mob {
        display: block;
      }

      .phone {
        display: block;
      }
    }
  }

  .slider {
    .swiper-container {
      .swiper-slide {
        .content {
          h2 {
            padding: 1rem 4rem;
            font-size: 24px;
          }
        }
      }
    }
    .slider-footer {
      font-size: 18px;
      padding: 1rem 0;
    }
  }

  .our-services {
    .card-list {
      grid-template-columns: 1fr;
      grid-gap: 10px;
      .card {
        margin: 1rem 0;
      }
    }
  }

  .paintar {
    height: 25rem;

    .content {
      width: 100%;

      p {
        padding: 0 1rem;
      }
    }
  }

  .quote {
    padding: 0 1rem;

    .content {
      padding: 1rem;
      overflow: hidden;

      form {
        input {
          padding: 1rem;
          width: 100%;
        }

        .name {
          width: 100%;
        }

        .email {
          width: 100%;
        }
      }
    }
  }

  .painting-services {
    .content {
      p {
        margin: 1rem 0;
        padding: 0 1rem;
      }

      .title {
        margin-top: 4rem;
      }

      .card-list {
        grid-template-columns: 1fr;
        grid-gap: 30px;

        .first {
          grid-column-start: 1;
          grid-column-end: 1;
        }
      }
    }
  }

  .latest-news {
    .content {
      .card-list {
        grid-template-columns: 1fr;
        grid-gap: 30px;

        .first {
          grid-column-start: 1;
          grid-column-end: 1;
        }
      }
    }
  }

  .footer {
    .content {
      grid-template-areas: 'about' ' links' 'address ' 'location';
      grid-template-columns: 1fr;
      grid-gap: 30px;

      .our-location {
        iframe {
          height: 20rem;
          width: 100%;
        }
      }
    }
  }
}
